.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  left: -6.4em !important;
}

.brandLogo {
  cursor: pointer;
}

#userNavigation.border.dropdown-toggle.btn {
  padding: 0px;
}

a.text-secondary{
  cursor: pointer !important;
}
 